modules = ["nodejs-20", "web", "nix"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]
deploymentTarget = "gce"
ignorePorts = true

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3008
externalPort = 3000
